extends /layout/DefaultLayout

prepend ConfigBlock
  - page_name = 'gallery'
  - page_id = 'gallery'

// append StylesheetBlock

// append JavascriptBlock

block header
  h1.heading
    | gallery

block main
  .catch
    | 某隊をもっと見たい方へ！！
  p
    a(href='http://www.geocities.jp/nanigashiitai/app1.html')
      | ・アカペラパラダイス1
  p
    a(href='http://www.geocities.jp/nanigashiitai/app2.html')
      | ・アカペラパラダイス2
  p
    a(href='http://www.geocities.jp/nanigashiitai/app3.html')
      | ・アカペラパラダイス3
  p
    a(href='http://www.geocities.jp/nanigashiitai/app4.html')
      | ・アカペラパラダイス4
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery1.html')
      | ・gallery1
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery2.html')
      | ・gallery2
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery3.html')
      | ・gallery3
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery4.html')
      | ・gallery4
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery5.html')
      | ・gallery5
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery6.html')
      | ・gallery6
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery7.html')
      | ・gallery7
  p
    a(href='http://www.geocities.jp/nanigashiitai/gallery8.html')
      | ・gallery8
  p
    a(href='http://www.geocities.jp/nanigashiitai/ekimae1.html')
      | ・もてなしドームライブ1
  p
    a(href='http://www.geocities.jp/nanigashiitai/ekimae2.html')
      | ・もてなしドームライブ2
  p
    a(href='http://www.geocities.jp/nanigashiitai/ekimae3.html')
      | ・もてなしドームライブ3
  p
    a(href='http://www.geocities.jp/nanigashiitai/ygr1.html')
      | ・夕暮れ祭り1
  p
    a(href='http://www.geocities.jp/nanigashiitai/ygr2.html')
      | ・夕暮れ祭り2
  p
    a(href='http://www.geocities.jp/nanigashiitai/ygr3.html')
      | ・夕暮れ祭り3
  p
    a(href='http://www.geocities.jp/nanigashiitai/ygr4.html')
      | ・夕暮れ祭り4
  p
    a(href='http://www.geocities.jp/nanigashiitai/ygr5.html')
      | ・夕暮れ祭り5
  p
    a(href='http://www.geocities.jp/nanigashiitai/ygr6.html')
      | ・夕暮れ祭り6
