extends /layout/DefaultLayout

prepend ConfigBlock
  - page_name = 'link'
  - page_id = 'link'

// append StylesheetBlock

// append JavascriptBlock

block header
  h1.heading
    | link

block main
  .catch
    | 某隊のお友達のページです
  ul
    li
      a(href='http://melomelo.web.infoseek.co.jp/')
        | 金沢大学アカペラサークル「MeloMelo」
    li
      a(href='http://hidebbs.net/bbs/supernight')
        | 北陸アカペラ伝言板
    li
      a(href='http://www.geocities.jp/acappella_gap/')
        | GAP
    li
      a(href='http://ese.gouketu.com/')
        | EsE
    li
      a(href='http://sound.jp/mu-sounds/')
        | μ sounds
    li
      a(href='http://www.geocities.jp/tokotoko1984/')
        | Bebe Origin
    li
      a(href='http://apois6.web.fc2.com/')
        | a PoiS
