extends /layout/DefaultLayout

prepend ConfigBlock
  - page_name = 'member'
  - page_id = 'member'

// append StylesheetBlock

// append JavascriptBlock

block header
  h1.heading
    | member

block main
  .catch
    | 某隊の隊員紹介です

  h2
    | 隊長
  dl
    dt
      | モア
    dd
      | いわずとしれた某隊の隊長。その「唸り」と「笑いのツボ」で隊員を引っ張ってます（byたかこ）

  h2
    | 隊員
  dl
    dt
      | たかこ
    dd
      | きれいな高音が魅力のオンナノコ。最近風邪もひいてないのに声がおかしいらしい。声変わりか！？（byふゆき）

    dt
      | ふゆき
    dd
      | 三重からやってきた頼れるアネゴ。得意技→”見えやん"(／-＼)              (byよしや)

    dt
      | よしや
    dd
      | グループ１の目立ちたがり屋さん。でも練習では仕切り屋さんな一面も発揮（byけいた）

    dt
      | ぶっち
    dd
      | 普段はあまりしゃべらない、でも常にボケを考えている彼・・。ひとたび口を開けばその独特な雰囲気と低音は世界に平和と微笑みをもたらします！ボケも音もハズさない、大野出身ベーシスト、それがぶっち！（byモア）

    dt
      | けいた
    dd
      | 持ち前のひょうきんな人柄で某隊のテンションを最大限に引き上げる一方、独特なレパートリーにかなうパーカッションをこなす"最も忙しい隊員"(byぶっち)
