extends /layout/DefaultLayout

prepend ConfigBlock
  - page_name = 'biography'
  - page_id = 'biography'

// append StylesheetBlock

// append JavascriptBlock

block header
  h1.heading biography

block main
  ul
    li 2004年度
    ul
      li 9月x日 「MeloMeloオールスターズvol.3 田村田村タムタム」結成
      li 10月31日 金大祭ライブにてデビュー
      li 12月8日(?) グループ名を「MeloMeloオールスターズvol.3 木村木村キムキム キムチ大好きっ子（某Ｔ子除く）」に改称
      li 12月18日 グループライブ出演
      li 12月22日 グループ名を「某隊員」に改称
      li 1月7日 ぶっち実家にて曲決め（某Ｔ子除く）
      li 1月12日 グループ名を「某隊」に確定
      li 3月19日 アカペラスーパーナイト出演
      li 3月27日 Mapth出演
      li 3月30日 FM石川のラジオ番組「FM石川ケンロックステーション」出演 同局のラジオ番組「FROM K!」のジングルを収録
    li 2005年度
    ul
      li 4月2日 Moving Voice vol.3出演 トリを飾る
      li 4月13日 スタバにてグループ打ち上げ
      li 7月30日 金澤夕ぐれまつり出演
      li 11月12日 Mapth＠もてなしドーム出演 グループ活動休止
      li 2月18日 アカペラパラダイス出演 初の県外（金沢市外）ライブ
      li 3月24日 談楽に結集
    li 2006年度
    ul
      li 3月14日 扇屋に結集
    li 2008年度
    ul
      li 9月15日 よしやの召集により活動再開
      li 11月2日 金大祭ライブ出演
      li 11月29日 京都に結集
      li 12月13日 名古屋に結集
      li 12月20日 某隊ライブツアー2008-2010? 「ぼくたち一体なにがしたい？」開幕戦 ～今夜はa PoiSとコラボりたい～
    li 2009年度
    ul
      li
        | 8月22日 某隊ライブツアー2008-2010? 「ぼくたち一体なにがしたい？」 第二弾＠名古屋（
        a(href='http://acapara.com/archives/live_report/#a000056') アカペラパラダイス
        | ）
    li 2010年度
    ul
      li 8月7日 練習＠名古屋
      li 9月11日 練習＠名古屋
      li
        | 10月10日 ふゆきが
        a(href='http://www.geocities.jp/acappella_gap/') GAP
        | のたか～き～と結婚。結婚式の余興にて歌う＠東京
