extends /layout/DefaultLayout

prepend ConfigBlock
  - page_name = 'biography'

// append StylesheetBlock

// append JavascriptBlock

block ContentBlock
  // geoguide start
  div(align='center')
    script(language='javascript').
      var jps=382116062;var jpt=1458968350
    script(language='javascript', src='http://bc.geocities.yahoo.co.jp/js/gg.js')
  // geoguide end
  center
    table(width='675', cellpadding='0', cellspacing='0', border='0')
      tr
        td(width='10')
          img(src='http://pic.geocities.jp/images/gb/black_l_top.gif')
        td(bgcolor='000000', width='655')
          img(src='http://img.yahoo.co.jp/images/clear.gif', width='655', height='1')
        td(width='10')
          img(src='http://pic.geocities.jp/images/gb/black_r_top.gif')
      tr(bgcolor='000000')
        td(colspan='3')
          table(width='100%', cellpadding='10', cellspacing='0', border='0', bgcolor='000000')
            tr
              td(height='60', valign='top')
                font(face='', color='ffffff', size='+5')
                  b
                    em biography
                br
                img(src='http://img.yahoo.co.jp/images/clear.gif', width='1', height='5')
                br
      tr
        td(width='10')
          img(src='http://pic.geocities.jp/images/gb/black_l_bottom.gif')
        td(bgcolor='000000', width='655')
          img(src='http://img.yahoo.co.jp/images/clear.gif', width='655', height='1')
        td(width='10')
          img(src='http://pic.geocities.jp/images/gb/black_r_bottom.gif')
    table(cellpadding='0', cellspacing='0', border='0')
      tr
        td
          img(src='http://img.yahoo.co.jp/images/clear.gif', width='1', height='10')
    table(width='675', cellpadding='0', cellspacing='0', border='0')
      tr
        td(valign='top', width='465')
          // - contents
          table(width='465', cellpadding='0', cellspacing='0', border='0')
            tr
              td(width='10')
                img(src='http://pic.geocities.jp/images/gl/03/lg_l_top.gif')
              td(bgcolor='efefef', width='445')
                img(src='http://img.yahoo.co.jp/images/clear.gif', width='445', height='1')
              td(width='10')
                img(src='http://pic.geocities.jp/images/gl/03/lg_r_top.gif')
          table(width='465', cellpadding='0', cellspacing='0', border='0')
            tr(bgcolor='efefef')
              td
                table(width='100%', border='0', cellspacing='0', cellpadding='10')
                  tr
                    td(height='300')
                      font(face='', size='-1')
                        ul
                          li 2004年度
                          ul
                            li 9月x日 「MeloMeloオールスターズvol.3 田村田村タムタム」結成
                            li 11月x日 金大祭ライブにてデビュー
                            li 12月8日(?) グループ名を「MeloMeloオールスターズvol.3 木村木村キムキム キムチ大好きっ子（某Ｔ子除く）」に改称
                            li 12月18日 グループライブ出演
                            li 12月22日 グループ名を「某隊員」に改称
                            li 1月7日 ぶっち実家にて曲決め（某Ｔ子除く）
                            li 1月12日 グループ名を「某隊」に確定
                            li 3月19日 アカペラスーパーナイト出演
                            li 3月27日 Mapth出演
                            li 3月30日 FM石川のラジオ番組「FM石川ケンロックステーション」出演 同局のラジオ番組「FROM K!」のジングルを収録
                          li 2005年度
                          ul
                            li 4月2日 Moving Voice vol.3出演 トリを飾る
                            li 4月13日 スタバにてグループ打ち上げ
                            li 7月30日 金澤夕ぐれまつり出演
                            li 11月12日 Mapth＠もてなしドーム出演 グループ活動休止
                            li 2月18日 アカペラパラダイス出演 初の県外（金沢市外）ライブ
                            li 3月24日 談楽に結集
                          li 2006年度
                          ul
                            li 3月14日 扇屋に結集
                          li 2008年度
                          ul
                            li 9月15日 よしやの召集により活動再開
                            li 11月2日 金大祭ライブ出演
                            li 11月29日 京都に結集
                            li 12月13日 名古屋に結集
                            li 12月20日 某隊ライブツアー2008-2010? 「ぼくたち一体なにがしたい？」開幕戦 ～今夜はa PoiSとコラボりたい～
                          li 2009年度
                          ul
                            li
                              | 8月22日 某隊ライブツアー2008-2010? 「ぼくたち一体なにがしたい？」 第二弾＠名古屋（
                              a(href='http://acapara.com/archives/live_report/#a000056') アカペラパラダイス
                              | ）
                          li 2010年度
                          ul
                            li 8月7日 練習＠名古屋
                            li 9月11日 練習＠名古屋
                            li
                              | 10月10日 ふゆきが
                              a(href='http://www.geocities.jp/acappella_gap/') GAP
                              | のたか～き～と結婚。結婚式の余興にて歌う＠東京
                      br
                      br
                      p
    table(width='465', cellpadding='0', cellspacing='0', border='0')
      tr
        td(width='10')
          img(src='http://pic.geocities.jp/images/gl/03/lg_l_bottom.gif')
        td(width='445', bgcolor='efefef')
          img(src='http://img.yahoo.co.jp/images/clear.gif', width='445', height='1')
        td(width='10')
          img(src='http://pic.geocities.jp/images/gl/03/lg_r_bottom.gif')
    // - /contents
    td(valign='top', width='10')
      img(src='http://img.yahoo.co.jp/images/clear.gif', width='10', height='1')
    td(valign='top', width='200')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='http://www.geocities.jp/nanigashiitai/')
                          font(face='', size='+1', color='ffffff')
                            b
                              em top
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='http://www.geocities.jp/nanigashiitai/member.html')
                          font(face='', size='+1', color='ffffff')
                            b
                              em member
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='http://www.geocities.jp/nanigashiitai/repertory.html')
                          font(face='', size='+1', color='ffffff')
                            b
                              em repertory
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='http://nanigashitai.1616bbs.com/bbs/')
                          font(face='', size='+1', color='ffffff')
                            b
                              em guest book
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/lg_l_top.gif')
          td(bgcolor='efefef', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/lg_r_top.gif')
        tr(bgcolor='efefef')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='efefef')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='000000') + 
                        font(face='', size='+1', color='000000')
                          b
                            em biography
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/lg_l_bottom.gif')
          td(bgcolor='efefef', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/lg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='http://www.geocities.jp/nanigashiitai/gallery.html')
                          font(face='', size='+1', color='ffffff')
                            b
                              em gallery
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='http://www.geocities.jp/nanigashiitai/link.html')
                          font(face='', size='+1', color='ffffff')
                            b
                              em link
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
      table(width='200', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
        tr(bgcolor='404144')
          td(colspan='3')
            table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
              tr
                td
                  table(width='100%', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td
                        font(size='2', color='ffffff') + 
                        a(href='mailto:nanigasi_tai@yahoo.co.jp')
                          font(face='', size='+1', color='ffffff')
                            b
                              em mail
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
          td(bgcolor='404144', width='180')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
