extends /layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''
  - page_id = 'top'

// append StylesheetBlock

// append JavascriptBlock

block header
  h2.heading
    | 某隊 ～nanigashitai～
  .welcome
    | 「お前ら一体何がしたい！？」サプライズ系アカペラグループ「某隊」のページへようこそ！！

block main
  .main-visual
    img(src='/img/top/main-visual.jpg', width='450')
  .message
    | 毎週金曜日16時～18時にFM石川（80.5MHz）で放送されている「FROM K!」という番組の中で、我ら某隊が番組のジングルを歌っています！
