html
  head
    // ・
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title
      | repertory
  body(bgcolor='c4c3c2')
    // geoguide start
    div(align='center')
      script(language='javascript').
        var jps=382116062;var jpt=1458968315
      script(language='javascript', src='http://bc.geocities.yahoo.co.jp/js/gg.js')
    // geoguide end
    center
      table(width='675', cellpadding='0', cellspacing='0', border='0')
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gb/black_l_top.gif')
          td(bgcolor='000000', width='655')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='655', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gb/black_r_top.gif')
        tr(bgcolor='000000')
          td(colspan='3')
            table(width='100%', cellpadding='10', cellspacing='0', border='0', bgcolor='000000')
              tr
                td(height='60', valign='top')
                  font(face='', color='ffffff', size='+5')
                    b
                      em repertory
                  br
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='1', height='5')
                  br
        tr
          td(width='10')
            img(src='http://pic.geocities.jp/images/gb/black_l_bottom.gif')
          td(bgcolor='000000', width='655')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='655', height='1')
          td(width='10')
            img(src='http://pic.geocities.jp/images/gb/black_r_bottom.gif')
      table(cellpadding='0', cellspacing='0', border='0')
        tr
          td
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='1', height='10')
      table(width='675', cellpadding='0', cellspacing='0', border='0')
        tr
          td(valign='top', width='465')
            // - contents
            table(width='465', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_l_top.gif')
                td(bgcolor='efefef', width='445')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='445', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_r_top.gif')
            table(width='465', cellpadding='0', cellspacing='0', border='0')
              tr(bgcolor='efefef')
                td
                  table(width='100%', border='0', cellspacing='0', cellpadding='10')
                    tr
                      td(height='300')
                        font(face='', size='-1')
                          b
                            | 某隊の一風変わったレパートリーをご覧下さい！
                        br
                        br
                        font(color='666666', size='-1')
                          | ・よしやのずんどこ節
                          br
                          | 初めて取り組んだ曲。さぁみんなで「ズン♪ズンズンズンドコ　よしや！！！」
                          br
                          br
                          | ・どいね
                          br
                          | ご存知モザイク作詞の金沢弁の曲。モザイクとは一味違う混声のどいねはどいね？
                          br
                          br
                          | ・マツケンサンバ
                          br
                          | 二度と楽譜は作らないと心に決めた曲（モア談）
                          br
                          | 楽しい曲のはずなのに歌ってる本人達は息切れな曲。上に同じく二度と楽譜は作るまいと決めました（たかこ談）
                          br
                          br
                          | ・ススミダス→
                          br
                          | ノリでヒップホップに手を出した！みんなラッパーに大変身！？
                          br
                          br
                          | ・La Bamba
                          br
                          | ヘソ出しルックで踊り狂いながら歌う隊長をイメージして編曲しました(・∀・)さぁみんなもLet's Dance!!!
                          br
                          br
                          | ・Dream Drive
                          br
                          | テンションとともに息も相当上がってしまうほどノリノリな曲。走り出せ！
                          br
                          br
                          | ・横須賀ストーリー
                          br
                          | 「これっきり？もうこれっきりなの？」「う～ん、どうでしょう（ぶっち談）」
                          br
                          object(width='425', height='344')
                            param(name='movie', value='http://www.youtube.com/v/FnVIYZ0Lx_o?fs=1&hl=ja_JP')
                            param(name='allowFullScreen', value='true')
                            param(name='allowscriptaccess', value='always')
                            embed(src='http://www.youtube.com/v/FnVIYZ0Lx_o?fs=1&hl=ja_JP', type='application/x-shockwave-flash', allowscriptaccess='always', allowfullscreen='true', width='425', height='344')
                          br
                          | ・Look Back Again
                          br
                          | 某隊唯一のフツーの曲。何だか新鮮！？
                          br
                          br
                          | ・ミチシルベ
                          br
                          | また作ってしまいました（笑）（モア談）
                          br
                          | ちょっとしっとり、フィナーレっぽい曲なので、ラストにピッタリのはず。みんなで「ラーララララララーラララララー♪」って歌ってほしい☆
                          br
                          br
                          | ・クリスマスメドレー
                          br
                          | モアのジングルベルロックがいい味出してます
                          br
                          br
                          | ・tunak tunak tun
                          br
                          | グループ内で話題となった動画の曲がなんと実現！
                          br
                          br
                          | ・LOVE YOU ONLY
                          br
                          | 最後の「オンリ～ユ～」を必見！
                          br
                          br
                          | ・My Gift to You
                          br
                          | 某隊としては珍しいバラード曲
                          br
                          br
                          | ・森のくまさん
                          br
                          | 振り付け＆小ネタ付き
                          br
                          br
                          | ・しあわせなら手をたたこう
                          br
                          | 童謡シリーズ
                          br
                          br
                          | ・花嫁
                          br
                          | 懐メロシリーズ
                          br
                          br
                          | ・手紙
                          br
                          | 熱唱系
                          br
                          br
                          | ・愛をこめて花束を
                          br
                          | ふゆきがたか～き～に向けて。サビで実際に花束を渡しました
                          br
                          br
                          br
                          | この他にも・・・！！
                          | ・
            table(width='465', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_l_bottom.gif')
                td(width='445', bgcolor='efefef')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='445', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_r_bottom.gif')
            // - /contents
          td(valign='top', width='10')
            img(src='http://img.yahoo.co.jp/images/clear.gif', width='10', height='1')
          td(valign='top', width='200')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='http://www.geocities.jp/nanigashiitai/')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em top
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='http://www.geocities.jp/nanigashiitai/member.html')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em member
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_l_top.gif')
                td(bgcolor='efefef', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_r_top.gif')
              tr(bgcolor='efefef')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='efefef')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='000000') + 
                              font(face='', size='+1', color='000000')
                                b
                                  em repertory
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_l_bottom.gif')
                td(bgcolor='efefef', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/lg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='http://nanigashitai.1616bbs.com/bbs/')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em guest book
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='http://www.geocities.jp/nanigashiitai/biography.html')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em biography
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='http://www.geocities.jp/nanigashiitai/gallery.html')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em gallery
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='http://www.geocities.jp/nanigashiitai/link.html')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em link
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
            table(width='200', cellpadding='0', cellspacing='0', border='0')
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_top.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_top.gif')
              tr(bgcolor='404144')
                td(colspan='3')
                  table(width='100%', cellpadding='1', cellspacing='0', border='0', bgcolor='404144')
                    tr
                      td
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td
                              font(size='2', color='ffffff') + 
                              a(href='mailto:nanigasi_tai@yahoo.co.jp')
                                font(face='', size='+1', color='ffffff')
                                  b
                                    em mail
              tr
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_l_bottom.gif')
                td(bgcolor='404144', width='180')
                  img(src='http://img.yahoo.co.jp/images/clear.gif', width='180', height='1')
                td(width='10')
                  img(src='http://pic.geocities.jp/images/gl/03/dg_r_bottom.gif')
// text below generated by geocities.jp
